[tasks.run-test]
script = [
'cargo test',
'''
assert() {
  expected="$1"
  input="$2"

  ./target/debug/rcc "$input" > tmp.s
  set +e
  docker run --rm -v $PWD:/workdir -w /workdir gcc:9.3.0 bash -c "cc -o tmp tmp.s && ./tmp"
  actual="$?"
  set -e
  rm tmp.s tmp

  if [ "$actual" = "$expected" ]; then
    echo "$input => $actual"
  else
    echo "$input => $expected expected, but got $actual"
    exit 1
  fi
}

cargo build
assert 0 "0;"
assert 42 "42;"
assert 21 "5 + 20 - 4;"
assert 23 "3 + 4 * 5;"
assert 42 "90 / 2 - 3;"
assert 35 "(3 + 4) * 5;"
assert 15 "5 * (9 - 6);"
assert 5 "+5;"
assert 1 "5 + -4;"

assert 0 "1 == 1 + 2 * 3;"
assert 7 "(1 == 1) + 2 * 3;"
assert 1 "1 == 1;"

assert 0 "1 + 2 < 3;"
assert 1 "1 < 2;"
assert 0 "1 + 2 <= 2;"
assert 1 "2 <= 2;"

assert 0 "1 > 1;"
assert 1 "1 > 0;"
assert 0 "1 >= 2;"
assert 1 "2 >= 1;"

assert 0 "a = 1; b = 2; b - a * 2;"
assert 0 "a = 1; b = 2; c = b - a; b = 1; b - c;"
assert 0 "foo = 1; bar = foo + 1; foo * 2 - bar;"

assert 5 "1; return 5; 8;"
assert 5 "a1 = 1; a2 = 2; return a1 + a2 * 2;"

echo OK
'''
]
